/* --------- Global style */

body {
    background-color: white;
    font-family: "Raleway", sans-serif;
    color: #445361;
    text-align: center;
}

/* --------- Heading */

.heading {
    text-align: center;
    font-size: 2.5rem;
}

.logo {
    height: 40px;
    padding-right: 5px;
}

button {
    width: 16em; 
    height: 16em; 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center; 
    border-radius: 50%;
}